<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sucesso</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-success bg-opacity-25">

  <div class="card shadow p-4 text-center" style="max-width: 400px;">
    <h2 class="text-success">Cadastro realizado!</h2>
   <p>Seja Bem-vindo, <strong id="nome"></strong> 🎉</p>
    <a href="/" class="btn btn-primary">Voltar</a>
  </div>

</body>
</html>
